# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Project file ignores
*.log
*.pyc
__pycache__
*.swp

# Virtual environments
venv
my_venv

# Dependencies
/ecp-backend/node_modules
/ecp-frontend/node_modules

/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*