.device {
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    max-width: 600px;
}
.device-status {
    margin: 8px 0;
}
.status {
    margin-left: 12px;
    padding: 4px;
    border-radius: 4px;
}

.running {
    background-color: greenyellow;
}

.offline {
    background-color: gray;
    color: white;
}

.value-input {
    margin: 0 8px;
}