.device-list {
    width: 50%;
    margin: 20px auto;
}

.device {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.device-logo {
    height: 100px;
    background-color: gray;
}